{% extends 'base.html' %}

{% block content%}
<h1 class="py-2 text-center">Авторизация</h1>
<div class="container">
  <form action method="post">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput"
        placeholder="Login" name="loginInput">
      <label for="floatingInput">Логин</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword"
        placeholder="Password" name="passwordInput">
      <label for="floatingPassword">Пароль</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault"
        name="remember_me">
      <label class="form-check-label" for="flexCheckDefault">
        Запомнить меня
      </label>
    </div>

    <button class="btn btn-primary" type="submit">Войти</button>
  </form>
</div>

{% endblock %}