{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center py-5">
        <div class="card" style="width: 50%;">
            <h5 class="card-title">книга: {{ review.book_name }}</h5>
            <h6 class="card-title">пользователь: {{ review.user_name }}</h6>
            <p class="card-text">рецензия: {{ text_rew | safe }}</p>
        </div>
        <ul class="list-group list-group-light list-group-small">
            <li class="list-group-item px-4">
                оценка: {{review.grade}}</li>
            <li class="list-group-item px-4">{{ review.created_at }}</li>
            {% if review.statuses==1 %}
                <li>
                    <div class="btn-group" role="group">

                        <a class="btn btn-success" href="{{ url_for('review.update_statuse_true', review_id = review.id) }}">Одобрить</a>
                        <a class="btn btn-danger" href="{{ url_for('review.update_statuse_false', review_id = review.id) }}">Отклонить</a>
                        
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}